p {
    font-size: large;
 
}

p:hover {
    color: blue;
}

p::first-letter {
    font-size: xx-large;

    }    

.hello {
    background-color: aquamarine;
}

#world {
    font-family: 'Courier New', Courier, monospace;
}